.rowCounter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 80px;
    font-size: 25px;
    border-radius: 10px;
    background-color: rgb(255, 216, 27);
    font-weight: bold;
}

.rowCounter1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    font-size: 25px;
    border-radius: 10px;
    background-color: rgb(40, 126, 224);
    font-weight: bold;
    color: white;
}